<!--
  Practicalli Custom 404 Page
-->


{% extends "main.html" %}

<!-- Content -->
{% block content %}
<h1>This is not the page you are looking for</h1>

<h3>
    Sorry we have arrived at a page that does not exist...
</h3>

<p>
    Try use the Search bar at the top of the page
</p>

<p>
    Practicalli Neovim is an alpha stage book and will evolve over the coming year
</p>

<p>
    <a href="https://practical.li/neovim">
        <img src="https://raw.githubusercontent.com/practicalli/graphic-design/live/book-covers/practicalli-neovim-book-banner.svg"
            alt="Practicalli Neovim book banner image">
    </a>
</p>

{% endblock %}
